@import "../fonts/Citrica/font.css"
@import "../fonts/Avante/font.css"

html
    body
        header
        .graphDesign-seven
            .container
                .row
                    .layerF
                        padding-bottom: 40px
                        .title
                            padding-top: 70px
                            padding-bottom: 40px
                            color: #F17F40
                            font-size: 3.5rem
                            span
                                font-family: Avante
                                font-weight: bold
                        .desc
                            font-family: Avante
                            font-size: 1.3rem
                            color: gray
                    .blockNomination
                        position: relative
                        left: 50%
                        transform: translateX(-50%)
                        width: 80%
                        border: 7px solid #F7E1AF
                        padding-top: 10px
                        margin-top: 50px
                        border-radius: 15px
                        .head
                            display: flex
                            padding: 20px
                            flex-wrap: no-wrap
                            .top
                                padding: 0 10px
                                flex: 0 0 40% 
                                .title
                                    font-size: 2.3rem
                                    color: gray
                                    
                                .desc
                                    flex: 0 0 20%
                                    font-family: Avante
                            img
                                position: relative
                                left: 80px
                                width: 50%
                        .show-btn
                            position: relative
                            left: 50%
                            transform: translateX(-50%)
                            border: none 
                            background: #F2813F
                            color: white
                            font-weight: bold
                            font-size: 1.3rem
                            width: 200px
                            height: 40px 
                            outline: none   
                            border-radius: 5px
                            transition: background 2s
                            &:hover
                                background: #F2812F
                            margin-bottom: 20px
                        .body
                            padding: 15px
                            text-align: center
                            hr
                                width: 60%
                                border: 1px solid gray
                            .title
                                
                                font-family: Avante
                            .desc
                                
                                font-size: 1.2rem
                                font-weight: 380
                                
                            .gallery
                                padding-top: 15px 
                                img
                                    width: 32.5%
                            .closeCollapse
                                margin-top: 20px
                                position: relative
                                z-index: 99999
                                border: none
                                background: #F2813F
                                outline: none
                                color: white
                                font-weight: bold
                                font-size: 1.3rem
                                width: 200px
                                height: 40px 
                                outline: none   
                                border-radius: 5px
                                transition: background 2s
                                &:hover
                                    background: #F2812F
                    
                            



                                


